---
layout: layout
---

<header class="hero">
  <%= partial "partials/global_nav" %>
</header>

<section>
  <div class="community-intro container">
    <h1 class="page-title">
      <%= t("community.title") %>
    </h1>
    <h5 class="community-subtitle">
      <%= t("community.main_text") %>
    </h5>
    <ul class="centered-content">
      <li class="community-social-link-item github-link">
        <%= link_to "Fork on GitHub",
          "https://github.com/middleman/middleman", class: "community-social-link" %>
      </li>
  </div>
</section>

<section class="community">
  <div class="container">
    <h4 class="community-title">
      <%= t("community.contributions") %>
    </h4>
    <article class="community-feature-list">
      <div class="community-feature-item">
        <div class="community-feature-icon-wrapper">
          <%= image_tag ("community-icons/icon-extensions.svg") %>
        </div>
        <div class="community-feature-text-wrapper">
          <h5 class="community-feature-header">
            <%= t("community.extensions.header") %>
          </h5>
          <p class="community-feature-text">
            <%= t("community.extensions.description") %>
          </p>
          <p class="community-feature-link">
            <%= link_to t("community.extensions.link_text"), "/" %>
          </p>
        </div>
      </div>
      <div class="community-feature-item">
        <div class="community-feature-icon-wrapper">
            <%= image_tag ("community-icons/icon-project-templates.svg") %>
        </div>
        <div class="community-feature-text-wrapper">
          <h5 class="community-feature-header">
            <%= t("community.templates.header") %>
          </h5>
          <p class="community-feature-text">
            <%= t("community.templates.description") %>
          </p>
          <p class="community-feature-link">
            <%= link_to t("community.templates.link_text"), "/" %>
          </p>
        </div>
      </div>
      <div class="community-feature-item">
        <div class="community-feature-icon-wrapper">
          <%= image_tag ("community-icons/icon-deployment-solutions.svg") %>
        </div>
        <div class="community-feature-text-wrapper">
          <h5 class="community-feature-header">
            <%= t("community.deployment.header") %>
          </h5>
          <p class="community-feature-text">
            <%= t("community.deployment.description") %>
          </p>
          <p class="community-feature-link">
            <%= link_to t("community.deployment.link_text"), "/" %>
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="forum">
  <div class="container">
    <div class="introduction-item">
      <div class="introduction-item-text-wrapper">
        <h4 class="forum-item-header">
          <%= t("community.forum.header") %> 
        </h4>
        <p class="forum-item-text">
          <%= t("community.forum.description") %>
        </p>
        <article>
        <%= link_to t("community.forum.link_text"), 
            "http://forum.middlemanapp.com/", class: "forum-cta" %>
        </article>
      </div>
      <div class="introduction-item-graphic-wrapper">
        <div class="introduction-browser browser">
        <img src="/images/community-forum.jpg">
    </div>
  </div>
</section>

<section class="community">
  <div class="container">
    <h4 class="community-title">
      <%= t("community.built_using_middleman") %>
    </h4>
  </div>
</section>
